<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Amber Nash</h2>
        </header>
        <p><strong>Full-Stack / Front-End Developer</strong>
        <br />
        <span class="fa fa-laptop"></span>
        <br />
        Portfolio & Blog
        <br />
        <br />
        <ul class="icons">
            <li><a href="http://twitter.com/AmbersWebs" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="http://github.com/annnash88" class="icon circle fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://linkedin.com/in/ambernash" class="icon circle fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="assets/resume.pdf" class="icon circle fa-file-text-o"><span class="label">Resume</span></a></li>
        </ul>
    </div>

</section>
